.Dashboard-Tabs{
   background-color: whitesmoke;
   
    color: black;
}
.MuiTabs-vertical {
    flex-direction: column;
    background: whitesmoke;
    color: black;
    font-weight: 900;
}
.Dashboard-box h1{
    color: Red;
}
.Dashboard-box h2{
    font-weight: bold;
}
.event__infoTop{
    width: 25vw;
}
.event__infoTop> h3 {
    font-weight: 90px;
    margin-top: 10px;
    font-size: 23px;
}
.event__infoTop>p {
    font-size: 13px;
    margin-top: 10px;
    color: gray;
}
.eventr__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.A-Box {
    display: flex;
    justify-content: space-between;
    height: 16vh;
    border: 2px solid whitesmoke;
    width: 800px;
}


.Box-headings p{
    padding: 35px;
}
.Box-heading2 p{
    padding: 35px;
}