.headings{
    padding: 50px;
}
.headings h1{
    color: black;
}
.default{   
    display: flex;
    justify-content: space-around;
}
.next h1{ 
    padding: 45px;
}
.next p{ 
    padding-left: 45px;
}
