.tabs {
    display: flex;
    justify-content: center;
}
.Tabpanel12 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.MuiAppBar-colorPrimary {
    color: black!important;
    background-color: white!important;
}
.MuiPaper-elevation4 {
    box-shadow: none!important;
}